local/wsdl/WCFPagoVentanilla.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/">
  <wsp:Policy wsu:Id="wsHttpEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="true"/>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256/>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict/>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing/>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="WCFPagoVentanilla.xsd" namespace="http://tempuri.org/"/>
      <xsd:import schemaLocation="WCFPagoVentanilla_1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWCFPagoVentanilla_VerificarEstadoWebServiceGen_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificarEstadoWebServiceGen"/>
  </wsdl:message>
  <wsdl:message name="IWCFPagoVentanilla_VerificarEstadoWebServiceGen_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificarEstadoWebServiceGenResponse"/>
  </wsdl:message>
  <wsdl:message name="IWCFPagoVentanilla_RegistrarPagoIFXGen_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarPagoIFXGen"/>
  </wsdl:message>
  <wsdl:message name="IWCFPagoVentanilla_RegistrarPagoIFXGen_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrarPagoIFXGenResponse"/>
  </wsdl:message>
  <wsdl:message name="IWCFPagoVentanilla_ConsultarCuponesGen_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCuponesGen"/>
  </wsdl:message>
  <wsdl:message name="IWCFPagoVentanilla_ConsultarCuponesGen_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarCuponesGenResponse"/>
  </wsdl:message>
  <wsdl:portType name="IWCFPagoVentanilla">
    <wsdl:operation name="VerificarEstadoWebServiceGen">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFPagoVentanilla/VerificarEstadoWebServiceGen" message="tns:IWCFPagoVentanilla_VerificarEstadoWebServiceGen_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFPagoVentanilla/VerificarEstadoWebServiceGenResponse" message="tns:IWCFPagoVentanilla_VerificarEstadoWebServiceGen_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="RegistrarPagoIFXGen">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFPagoVentanilla/RegistrarPagoIFXGen" message="tns:IWCFPagoVentanilla_RegistrarPagoIFXGen_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFPagoVentanilla/RegistrarPagoIFXGenResponse" message="tns:IWCFPagoVentanilla_RegistrarPagoIFXGen_OutputMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCuponesGen">
      <wsdl:input wsaw:Action="http://tempuri.org/IWCFPagoVentanilla/ConsultarCuponesGen" message="tns:IWCFPagoVentanilla_ConsultarCuponesGen_InputMessage"/>
      <wsdl:output wsaw:Action="http://tempuri.org/IWCFPagoVentanilla/ConsultarCuponesGenResponse" message="tns:IWCFPagoVentanilla_ConsultarCuponesGen_OutputMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsHttpEndpoint" type="tns:IWCFPagoVentanilla">
    <wsp:PolicyReference URI="#wsHttpEndpoint_policy"/>
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="VerificarEstadoWebServiceGen">
      <soap12:operation soapAction="http://tempuri.org/IWCFPagoVentanilla/VerificarEstadoWebServiceGen" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrarPagoIFXGen">
      <soap12:operation soapAction="http://tempuri.org/IWCFPagoVentanilla/RegistrarPagoIFXGen" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCuponesGen">
      <soap12:operation soapAction="http://tempuri.org/IWCFPagoVentanilla/ConsultarCuponesGen" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>