local/wsdl/WSP_RIN_JAVERIANACALI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://javerianacali.edu.co/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://javerianacali.edu.co/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://javerianacali.edu.co/">
      <s:element name="consultaRecaudo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consulta" type="tns:ConsultaPagoRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConsultaPagoRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RqUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SpName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ref" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ean" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="consultaRecaudoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consultaRecaudoResult"
              type="tns:ConsultaPagoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConsultaPagoResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="notificacionRecaudo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="notificaRecaudo"
              type="tns:NotificacionPagoRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NotificacionPagoRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RqUID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SpName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ref" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Ean" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Barcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NetworkOwner" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BankId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PosLocation" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="notificacionRecaudoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="notificacionRecaudoResult"
              type="tns:NotificacionPagoResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="NotificacionPagoResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Value" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="Date" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="dummy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:DummyRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DummyRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="dummyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dummyResult" type="tns:DummyResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DummyResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="consultaRecaudoSoapIn">
    <wsdl:part name="parameters" element="tns:consultaRecaudo" />
  </wsdl:message>
  <wsdl:message name="consultaRecaudoSoapOut">
    <wsdl:part name="parameters" element="tns:consultaRecaudoResponse" />
  </wsdl:message>
  <wsdl:message name="notificacionRecaudoSoapIn">
    <wsdl:part name="parameters" element="tns:notificacionRecaudo" />
  </wsdl:message>
  <wsdl:message name="notificacionRecaudoSoapOut">
    <wsdl:part name="parameters" element="tns:notificacionRecaudoResponse" />
  </wsdl:message>
  <wsdl:message name="dummySoapIn">
    <wsdl:part name="parameters" element="tns:dummy" />
  </wsdl:message>
  <wsdl:message name="dummySoapOut">
    <wsdl:part name="parameters" element="tns:dummyResponse" />
  </wsdl:message>
  <wsdl:portType name="BancolombiaPagosSoap">
    <wsdl:operation name="consultaRecaudo">
      <wsdl:input message="tns:consultaRecaudoSoapIn" />
      <wsdl:output message="tns:consultaRecaudoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="notificacionRecaudo">
      <wsdl:input message="tns:notificacionRecaudoSoapIn" />
      <wsdl:output message="tns:notificacionRecaudoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dummy">
      <wsdl:input message="tns:dummySoapIn" />
      <wsdl:output message="tns:dummySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BancolombiaPagosSoap" type="tns:BancolombiaPagosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="consultaRecaudo">
      <soap:operation soapAction="http://javerianacali.edu.co/consultaRecaudo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notificacionRecaudo">
      <soap:operation soapAction="http://javerianacali.edu.co/notificacionRecaudo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dummy">
      <soap:operation soapAction="http://javerianacali.edu.co/dummy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BancolombiaPagos">
    <wsdl:port name="BancolombiaPagosSoap" binding="tns:BancolombiaPagosSoap">
      <soap:address location="https://172.25.59.4:8100/services/Bancolombiapagos.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>